@font-face {
    font-family: 'Playlist-Script';
    src: url(../fonts/Playlist\ Script.otf);
}

:root {
    --primary: #F1E1BD;
    --secondary: #F1D0C4;
    --third: #F4C243;
    --fourth : #8C944E;

    --separacion: 5rem;

    --primaryFont: 'Raleway';
    --secondaryFont: 'Playlist-Script';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: var(--secondaryFont);
    margin: calc( var(--separacion) / 2) 0;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4.6rem;
}

h3{
    font-size: 3.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilidades */

.text-center {
    text-align: center;
}